@import './colors.scss';
@import './bootstrap-override';
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
  
html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background: $background;
}

.main-container {
    min-height: 100vh;
}

h1, h2 {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.songs {
    background-color: $light;
    font-size: 1.25rem;
    margin-bottom: 2px;

    a {
        color: $dark;
    }

    &-image {
        
        img {
            border-radius: 4px;
            width: 100%;
            height: auto;
        }
    }
}

.song-selection-bar {
    background-color: $primary;
    color: $white;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    width: 100%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    width: 100%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

a[href$=".pdf"] {
    display: inline-block;
    color: $white;
    background-color: $primary;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 0;

    &:before {
        content: "PDF: ";
    }
}

.chordwp-toolbar.userlogin {
    display: none;
}

.pagination {
    display: flex;
    a {
        text-decoration: none;
    }

    .active a {
        color: white;
    }
}

.chordwp-container {
    font-size: 1rem;
    margin: 0 10px;

    .verse-line {
        margin-top: 20px;
    } 

    .chords {
        font-weight: 700;
        min-height: 50%
    }

    .lyrics {
        min-height: 50%;
    }

    p.lyrics {
        margin-top: 30px;
    }
}


.chord-sheet {
    font-size: 1rem;
    margin: 0 10px;

    .chord {
        font-weight: 700;
        min-height: 50%
      }

      .lyrics {
        min-height: 50%;
      }

      .row {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;

        .column {
            padding: 2px;
            width: auto
          }
      }
  }

.song {
    &.just-lyrics {
        .chord {
            display: none;
        }
    }
}
  
  .postbox {
    border-radius: 15px
  }

  .hover-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
      }
  }

  .course {
    position: relative;

    &.featured {
        &::before {
            content: "Featured";
            position: absolute;
            top: 8px;
            left: 3px;
            background-color: $secondary;
            color: white;
            padding: 5px 10px;
            font-weight: bold;
            z-index: 1;
        }

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: 42px;
            left: 3px;
            border-top: 0px solid transparent;
            border-bottom: 10px solid transparent;
            
            border-right: 10px solid darken($color: $secondary, $amount: 20);
        }
    }
  }