@import './colors.scss';
@import './bootstrap-override';
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
  
html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background: $background;
}

h1, h2 {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.songs {
    background-color: $light;
    font-size: 1.25rem;

    a {
        color: $dark;
    }
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    width: 100%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    width: 100%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

a[href$=".pdf"] {
    margin: 20px 20px 20px 0;
    display: block;

    &:before {
        content: "PDF: ";
    }
}

.chordwp-toolbar.userlogin {
    display: none;
}

.pagination {
    display: flex;
    a {
        text-decoration: none;
    }

    .active a {
        color: white;
    }
}

.chordwp-container {
    font-size: 1rem;
    margin: 0 10px;

    .verse-line {
        margin-top: 20px;
    } 

    .chords {
        font-weight: 700;
        min-height: 50%
    }

    .lyrics {
        min-height: 50%;
    }

    p.lyrics {
        margin-top: 30px;
    }
}


.chord-sheet {
    font-size: 1rem;
    margin: 0 10px;

    .chord {
        font-weight: 700;
        min-height: 50%
      }

      .lyrics {
        min-height: 50%;
      }

      .row {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;

        .column {
            padding: 2px;
            width: auto
          }
      }
  }
  
  .postbox {
    border-radius: 15px
  }

  .hover-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
      }
  }

  .course {
    position: relative;

    &.featured {
        &::before {
            content: "Featured";
            position: absolute;
            top: 0;
            left: 0;
            background-color: $secondary;
            color: white;
            padding: 5px 10px;
            font-weight: bold;
            z-index: 1;
        }
    }
  }